/* font-family: 'Covered By Your Grace', cursive; */
/* font-family: 'Rock Salt', cursive; */
/* font-family: 'Nixie One', cursive; */

/* indice */
/* General */
/* Header */
/* Index */
/* Anime */
/* Ranking */
/* Foro */
/* Footer */


/* General */
body{
  background-image: url(../img/fondo.png);
}

a{
  text-decoration: none;
}

.portada a, h2, .header .logo a, a.more, ul, ul a{
  color: #FE2EC8;
}

.header .botones a,.boxtext p,  .foro thead{
  color: #58D3F7;
}

.portada a img, .box img{
  width: 200px;
  height: 290px;
}
.header .botones a, h2, .tabla-ranking, .foro-activo, .foro thead{
  font-family:'Covered By Your Grace', cursive;
}

.portada a, .boxtext p{
  font-family: 'Nixie One', cursive;
}
.boxtext a, .header .botones a{
  transition:all 2000ms ease;
}

/* Header */
.header .logo a{
  font-family: 'Rock Salt', cursive;
  font-weight:bold;
}
.header, .wrapper{
  overflow:hidden;
}
.header {
  width:100%;
  margin-bottom:20px;
}
.wrapper {
  width:95%; :auto;
}
.header .logo {
  font-size:3.5em;
  line-height:100px;
  float:left;
}
.header .botones {
  float:right;
  line-height:100px;
}
.header .botones a {
  display:inline-block;
  padding:10px 10px;
  line-height:normal;
  font-size:2.5em;
  font-weight:bold;
}
.header .botones a:hover {
  color: lightyellow;
}
/* fin header */

/* index */
.container{
  position: relative;
  padding-bottom: 10%;
  padding-top: 2%;
  width: 100%;
  margin-bottom: 10px;
}
.anime{
  text-align: center;
}
.portada{
  margin: 20px 40px 20px 40px;
  display: inline-block;
}

.portada a {
  font-weight: bolder;
}
/* fin index */

/* animes */
.box{
  margin: 10px 75px 10px 75px;
  display: flex;
}

h2{
  padding: 20px;
  font-size: 2em;
}
.boxtext p{
  font-size: 1.2em;
  padding-left: 15px;
}

.boxtext a:hover{
  color: lightpink;
}
/* fin animes */

/* ranking */
tbody td img{
  width: 159px;
  height: 261px;
}
.tabla-ranking{
  font-size: 2em;
  color: hotpink;
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}
.tabla-ranking th, td{
  border: 5px grey solid;
}
/* fin ranking */

/* foro */
.foro-activo ul{
  width: 15%;
  float: right;
  list-style: cjk-earthly-branch;
}
table.foro, form{
  margin: auto;
  text-align: center;
}
.foro thead{
  font-size: 3.3em;
}
th.Nombre{
  width: 20%;
}
th.Comentario{
  width: 70%;
}
form li{
  list-style: none;
}

.form-style label{
  margin: 0 0 3px 0;
  padding: 0px;
  display:block;
  font-size: 1.2em;
}
.form-style .form-style-nombre{
  width: 250px
}
.form-style .form-style-comentario{
  width: 500px;
  height: 150px;
}
.enviar{
  border:none;
  padding: 10PX;
  border-radius: 5PX;
}
/* fin foro */

/* footer */
/* fin footer */
