/* font-family: 'Covered By Your Grace', cursive; */
/* font-family: 'Rock Salt', cursive; */
/* font-family: 'Nixie One', cursive; */
/* General */
body{
  background-image: url(../img/fondo.png);
}
.portada a, h2{
  color: #FE2EC8;
}
.portada a img, .box img{
  width: 200px;
  height: 290px;
}
.header .botones a, h2{
  font-family:'Covered By Your Grace', cursive;
}
.more:hover, .portada a:hover,  { /*.lista a:hover   cuando haga una lista*/
    color: white;
    text-decoration: underline;
}
.portada a, .boxtext p{
    font-family: 'Nixie One', cursive;
}

/* Header */
.header .logo a{
  font-family: 'Rock Salt', cursive;
  text-decoration:none;
  font-weight:bold;
  color: #FE2EC8;
}
.header {
  width:100%;
  overflow:hidden;
  margin-bottom:20px;
}
.wrapper {
  width:95%; :auto;
  overflow:hidden;
}
.header .logo {
  font-size:3.5em;
  line-height:100px;
  float:left;
}
.header .botones {
  float:right;
  line-height:100px;
}
.header .botones a {
  display:inline-block;
  color:#58D3F7;
  text-decoration:none;
  padding:10px 10px;
  line-height:normal;
  font-size:2.5em;
  font-weight:bold;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}
.header .botones a:hover {
  border-radius:50px;
}
/* fin header */

/* index */
.container{
  position: relative;
  padding-bottom: 10%;
  padding-top: 5%;
  width: 100%;
  margin-bottom: 10px;
}
.anime{
  text-align: center;
}
.portada{
  margin: 20px 40px 20px 40px;
  display: inline-block;
}

.portada a {
  text-decoration: none;
  font-weight: bolder;
}

/* animes */
.box{
  margin: 10px 75px 10px 75px;
  display: flex;
}
.boxtext a{
  text-decoration: none;
}
h2{
  padding: 20px;
  font-size: 2em;
}
.boxtext p{
  color: #58D3F7;
  font-size: 1.2em;
  padding-left: 15px;
}
a.more{
  color: #FE2EC8;
}
