/* font-family: 'Covered By Your Grace', cursive; */
/* font-family: 'Rock Salt', cursive; */
/* font-family: 'Nixie One', cursive; */

/* indice */
/* General */
/* Header */
/* Index */
/* Anime */
/* Ranking */
/* Subscripcion */
/* Foro */
/* Footer */


/* General */
body{
  background-image: url(../img/fondo.png);
}

a{
  text-decoration: none;
}

.portada a, h2, .header .logo a, a.more{
  color: #FE2EC8;
}

.header .botones a,.boxtext p{
  color: #58D3F7;
}

.portada a img, .box img{
  width: 200px;
  height: 290px;
}
.header .botones a, h2{
  font-family:'Covered By Your Grace', cursive;
}

.portada a, .boxtext p{
    font-family: 'Nixie One', cursive;
}
.boxtext a, .header .botones a{
  transition:all 2000ms ease;
}

/* Header */
.header .logo a{
  font-family: 'Rock Salt', cursive;
  font-weight:bold;
}
.header, .wrapper{
  overflow:hidden;
}
.header {
  width:100%;
  margin-bottom:20px;
}
.wrapper {
  width:95%; :auto;
}
.header .logo {
  font-size:3.5em;
  line-height:100px;
  float:left;
}
.header .botones {
  float:right;
  line-height:100px;
}
.header .botones a {
  display:inline-block;
  padding:10px 10px;
  line-height:normal;
  font-size:2.5em;
  font-weight:bold;
}
.header .botones a:hover {
  color: lightyellow;
}
/* fin header */

/* index */
.container{
  position: relative;
  padding-bottom: 10%;
  padding-top: 5%;
  width: 100%;
  margin-bottom: 10px;
}
.anime{
  text-align: center;
}
.portada{
  margin: 20px 40px 20px 40px;
  display: inline-block;
}

.portada a {
  font-weight: bolder;
}
/* fin index */

/* animes */
.box{
  margin: 10px 75px 10px 75px;
  display: flex;
}

h2{
  padding: 20px;
  font-size: 2em;
}
.boxtext p{
  font-size: 1.2em;
  padding-left: 15px;
}

.boxtext a:hover{
  color: lightpink;
}
/* fin animes */

/* ranking */
tbody td img{
  width: 220px;
  height: 250px;
}
/* fin ranking */

/* subscripcion */
/* fin subscripcion */

/* foro */
/* fin foro */

/* footer */
/* fin footer */
